
**Prueba Técnica**

In [ ]:
#Importaciones

import pandas as pd

In [5]:
#Carga de datos

df = pd.read_excel("datos_ventas.xlsx")
df.head()

,ID_Venta,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Vendedor,ID_Cruce
0,1,2023-06-02,Monitor,3,669,2007.0,Elena,101
1,2,2023-12-16,Celular,3,172,516.0,Ana,102
2,3,2023-03-02,Monitor,5,765,3825.0,Elena,103
3,4,2023-03-19,Laptop,4,303,1212.0,Carlos,104
4,5,2023-01-24,Impresora,8,644,NaN,David,105

In [9]:
#Verificar valores faltantes (NaN).
df.isnull().sum()

ID_Venta           0
Fecha              0
Producto           0
Cantidad           0
Precio_Unitario    0
Total_Venta        0
Vendedor           0
ID_Cruce           0
dtype: int64

In [10]:
#Encontramos que hay 25 valores faltantes en la columna Total_Venta. Para completarlos, usamos la fórmula: Total_Venta = Cantidad * Precio_Unitario.

df["Total_Venta"] = df["Total_Venta"].fillna(df["Cantidad"] * df["Precio_Unitario"])
df.isnull().sum()

ID_Venta           0
Fecha              0
Producto           0
Cantidad           0
Precio_Unitario    0
Total_Venta        0
Vendedor           0
ID_Cruce           0
dtype: int64

In [11]:
#Revisar tipos de datos
df.dtypes

ID_Venta             int64
Fecha               object
Producto            object
Cantidad             int64
Precio_Unitario      int64
Total_Venta        float64
Vendedor            object
ID_Cruce             int64
dtype: object

In [12]:
#Convertir la columna Fecha a formato datetime.
df["Fecha"] = pd.to_datetime(df["Fecha"])
df[["ID_Venta", "Fecha"]].head()

   ID_Venta      Fecha
0         1 2023-06-02
1         2 2023-12-16
2         3 2023-03-02
3         4 2023-03-19
4         5 2023-01-24

In [13]:
#Filtrar ventas del año 2023
df_2023 = df[df["Fecha"].dt.year == 2023].copy()
df_2023.head()

,ID_Venta,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Vendedor,ID_Cruce
0,1,2023-06-02,Monitor,3,669,2007.0,Elena,101
1,2,2023-12-16,Celular,3,172,516.0,Ana,102
2,3,2023-03-02,Monitor,5,765,3825.0,Elena,103
3,4,2023-03-19,Laptop,4,303,1212.0,Carlos,104
4,5,2023-01-24,Impresora,8,644,5152.0,David,105